html{
    scroll-behavior: smooth;

}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: "Caveat", cursive;
    /* background-image: linear-gradient(45deg, #00000d, #1e6bc9); */
margin: 0;
background-color: #1a3373;
min-height: 100vh;

}
.container{
    
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 100vh;
    background-color: transparent;
}

/* Small screen */
@media (max-width: 768px){
    .container{
       
        background-color: transparent;
       
    }
    
}

@media (min-width: 768px) {
   .container{
    width: 750px;
   
   }
   
   
}
/* medium screen */
@media (min-width: 992px){
    .container{
        width: 970px;
    }

}
/* large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
    
}

/* end of global rules */

.container h1{
 text-align: center;
 margin: 20px;
}

.container form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 6px;
    font-size: 30px;
}
.container form input[type="text"]{
    width: 300px;
    border-radius: 7px;
    border: 1px solid blue;
    background-color: cornflowerblue;
    color: white;
    padding-left: 7px;


}
.container #class{
    display: none;
}
.container form input[type="text"]:focus{
    border: 1px solid blue;
    outline: none;
}
.container form button[type='submit']{
    width: 100px;
    cursor: pointer;
    background-image: linear-gradient(45deg, black, blue);
    color: white;
    height: 50px;
    font-size: 25px;
    border-radius: 17px;
    align-self: flex-end;
    margin-top: 13px;
    margin-right: 15px;
}

  .active{
    background-color: black;
    color: white;

  }
  .container form ul li{
    list-style-type: none;
    padding: 10px;

  }
  .container form ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container form ul li h4{
    margin: 0;
    padding: 3px;
    font-size: 24px;
  }
  .container form ul li div{
    padding: 4px;
    text-align: center;
    border-radius: 3px;
    background-color: blue;
    cursor: pointer;
  }
