html{
    scroll-behavior: smooth;

}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: "Caveat", cursive;
    /* background-image: linear-gradient(45deg, #00000d, #1e6bc9); */
margin: 0;
background-color: #1a3373;
min-height: 100vh;

}
.container{
    
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 100vh;
    background-color: transparent;
}
.small-container h2{
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 35px;

}
/* Small screen */
@media (max-width: 768px){
    .container{
       
        background-color: transparent;
       
    }
    
}

@media (min-width: 768px) {
   .container{
    width: 750px;
   
   }
   
   
}
/* medium screen */
@media (min-width: 992px){
    .container{
        width: 970px;
    }

}
/* large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
    
}
/* end of global rules */







/* the small contaner */
.small-container{
    margin-right: auto;
    margin-left: auto;
    
    background-image: linear-gradient(to bottom, #002658, transparent);
    border-radius: 12px;
    margin-top: 50px;


}
@media (max-width: 768px){
    .small-container{
        margin-top: 30px;
    }
  
}
/* minnnnnnnnn */
@media (min-width: 768px) {
    .small-container{
     width: 650px;
     
    }
   
  
   
 }
 /* medium screen */
 @media (min-width: 992px){
     .small-container{
         width: 870px;
     }
 
 }
 /* large */
 @media (min-width:1100px) {
     .small-container{
         width: 1170px;
     }
     
 }
 /* foooter */
 footer{
    width: 100%;
    background-color: black;
    padding: 10px;
 }
 footer p{
    font-size: 20px;
        color: white;

       
 }
 footer nav a{
    padding-left: 10px;

 }
 .back{
    margin-top: 28px;
    display: block;
    font-size: 26px;
  }
  @media (min-width:768px) {
    .back{
        font-size: 40px;
    }
    
  }
.small-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    color: white;
}
.small-container form input{
    width: 200px;
    border-radius: 7px;
    border: 1px solid blue;
    background-color: cornflowerblue;
    color: white;
    padding-left: 7px;
}
.small-container form input:focus{
    border: 1px solid blue;
    outline: none;

}
.small-container form textarea{
    border-radius: 7px;
    border: 1px solid blue;
    background-color: cornflowerblue;
    color: white;
    padding-left: 7px;
    padding: 10px;
    font-size: 20px;
    width: 75%;
    height: 150px;
}
.small-container form textarea:focus{
    border: 1px solid blue;
    outline: none;
}
.small-container form button{
    width: 100px;
    cursor: pointer;
    background-image: linear-gradient(45deg, black, blue);
    color: white;
    height: 50px;
    font-size: 25px;
    border-radius: 17px;
    align-self: flex-end;
    margin-top: 13px;
}
.small-container form button:hover{
    border: 2px white solid;
}
@media (max-width:768px) {
    .small-container h2{
        font-size: 20px;
    }
}
.thanks{
    display: none;
    text-align: center;
    margin-top: 20px;
    padding-top: 56px;
    color: white;
}


.msg{
    background-color: #8f8fff;
   
    border-radius: 19px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 1px;
}